<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <router-link
          :to="{ name: 'perpus.index' }"
          class="btn btn-primary btn-sm rounded shadow mb-3"
          >back</router-link
        >

        <div class="card rounded shadow">
          <div class="card-header">Create data mahasiswa</div>
          <div class="card-body">
            <form @submit.prevent="store()">
              <div class="mb-3">
                <label for="" class="form-label">id_mahasiswa</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="perpus.id_mahasiswa"
                  required
                />
                <div v-if="validation.id_mahasiswa" class="text-danger">
                  {{ validation.id_mahasiswa }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">nim</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.nim"
                  required
                />
                <div v-if="validation.nim" class="text-danger">
                  {{ validation.nim }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">nama</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.nama"
                  required
                />
                <div v-if="validation.nama" class="text-danger">
                  {{ validation.nama }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">no_telp</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.no_telp"
                  required
                />
                <div v-if="validation.no_telp" class="text-danger">
                  {{ validation.no_telp }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">email</label>
                <input
                  type="email"
                  class="form-control"
                  v-model="perpus.email"
                  required
                />
                <div v-if="validation.email" class="text-danger">
                  {{ validation.email }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">password</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="perpus.password"
                  required
                />
                <div v-if="validation.password" class="text-danger">
                  {{ validation.password }}
                </div>
              </div>
              <button class="btn btn-outline-primary">submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref } from "vue";
import { useRouter } from "vue-router";
import axios from "axios";
export default {
  setup() {
    const perpus = reactive({
      id_mahasiswa: "",
      nim: "",
      nama: "",
      no_telp: "",
      email: "",
      password: "",
    });
    const validation = ref([]);
    const router = useRouter();
    function store() {
      axios
        .post("http://127.0.0.1:8000/api/add_mahasiswa", perpus)
        .then(() => {
          router.push({
            name: "perpus.index",
          });
        })
        .catch((err) => {
          validation.value = err.response.data;
        });
    }
    return {
      perpus,
      validation,
      router,
      store,
    };
  },
};
</script>

<style>
</style>