<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <router-link
          :to="{ name: 'perpus.indexBuku' }"
          class="btn btn-primary btn-sm rounded shadow mb-3"
          >back</router-link
        >

        <div class="card rounded shadow">
          <div class="card-header">Create data buku</div>
          <div class="card-body">
            <form @submit.prevent="store()">
              <div class="mb-3">
                <label for="" class="form-label">id_buku</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="perpus.id_buku"
                  required
                />
                <div v-if="validation.id_buku" class="text-danger">
                  {{ validation.id_buku }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">judul_buku</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.judul_buku"
                  required
                />
                <div v-if="validation.judul_buku" class="text-danger">
                  {{ validation.judul_buku }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">id penulis</label> &emsp;
                <select
                  class="form-label"
                  name=""
                  id=""
                  v-model="perpus.id_penulis"
                >
                  <option v-for="(penulis, index) in penulis.data" :key="index">
                    {{ penulis.id_penulis }}
                  </option>
                </select>
                <div v-if="validation.id_penulis" class="text-danger">
                  {{ validation.id_penulis }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">id penerbit</label> &emsp;
                <select
                  class="form-label"
                  name=""
                  id=""
                  v-model="perpus.id_penerbit"
                >
                  <option
                    v-for="(penerbit, index) in penerbit.data"
                    :key="index"
                  >
                    {{ penerbit.id_penerbit }}
                  </option>
                </select>
                <div v-if="validation.id_penerbit" class="text-danger">
                  {{ validation.id_penerbit }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">tahun_terbit</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.tahun_terbit"
                  required
                />
                <div v-if="validation.tahun_terbit" class="text-danger">
                  {{ validation.tahun_terbit }}
                </div>
              </div>
              <button class="btn btn-outline-primary">submit</button>
            </form>
          </div>
        </div>

        <div class="card rounded shadow mt-5">
          <div class="card-header">list penulis</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>id penulis</th>
                  <th>nama penulis</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(penulis, index) in penulis.data" :key="index.data">
                  <td>{{ penulis.id_penulis }}</td>
                  <td>{{ penulis.nama_penulis }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card rounded shadow mt-5">
          <div class="card-header">list penerbit</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>id penerbit</th>
                  <th>nama penerbit</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(penerbit, index) in penerbit.data"
                  :key="index.data"
                >
                  <td>{{ penerbit.id_penerbit }}</td>
                  <td>{{ penerbit.nama_penerbit }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive, ref } from "vue";
import { useRouter } from "vue-router";
import axios from "axios";
export default {
  setup() {
    let penulis = ref([]);
    onMounted(() => {
      axios
        .get("http://127.0.0.1:8000/api/data_penulis")
        .then((result) => {
          penulis.value = result.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    });

    let penerbit = ref([]);
    onMounted(() => {
      axios
        .get("http://127.0.0.1:8000/api/data_penerbit")
        .then((result) => {
          penerbit.value = result.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    });

    const perpus = reactive({
      id_buku: "",
      judul_buku: "",
      id_penulis: "",
      no_penerbit: "",
      tahun_terbit: "",
    });
    const validation = ref([]);
    const router = useRouter();
    function store() {
      axios
        .post("http://127.0.0.1:8000/api/add_buku", perpus)
        .then(() => {
          router.push({
            name: "perpus.indexBuku",
          });
        })
        .catch((err) => {
          validation.value = err.response.data;
        });
    }
    return {
      penerbit,
      penulis,
      perpus,
      validation,
      router,
      store,
    };
  },
};
</script>

<style>
</style>