<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <router-link
          :to="{ name: 'perpus.indexBuku' }"
          class="btn btn-primary btn-sm rounded shadow mb-3"
          >back</router-link
        >

        <div class="card rounded shadow">
          <div class="card-header">Edit data buku</div>
          <div class="card-body">
            <form @submit.prevent="update()">
              <div class="mb-3">
                <label for="" class="form-label">id_buku</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="perpus.id_buku"
                  required
                />
                <div v-if="validation.id_buku" class="text-danger">
                  {{ validation.id_buku }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">judul_buku</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.judul_buku"
                  required
                />
                <div v-if="validation.judul_buku" class="text-danger">
                  {{ validation.judul_buku }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">id_penulis</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.id_penulis"
                  required
                />
                <div v-if="validation.id_penulis" class="text-danger">
                  {{ validation.id_penulis }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">id_penerbit</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.id_penerbit"
                  required
                />
                <div v-if="validation.id_penerbit" class="text-danger">
                  {{ validation.id_penerbit }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">tahun_terbit</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="perpus.tahun_terbit"
                  required
                />
                <div v-if="validation.tahun_terbit" class="text-danger">
                  {{ validation.tahun_terbit }}
                </div>
              </div>
              <button class="btn btn-outline-primary">submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import axios from "axios";
export default {
  setup() {
    let perpus = reactive({
      id_buku: "",
      judul_buku: "",
      id_penulis: "",
      no_penerbit: "",
      tahun_terbit: "",
    });
    const validation = ref([]);
    const router = useRouter();
    const route = useRoute();

    onMounted(() => {
      axios
        .get(`http://127.0.0.1:8000/api/get_buku/${route.params.id}`)
        .then((result) => {
          perpus.id_buku = result.data.data.id_buku;
          perpus.judul_buku = result.data.data.judul_buku;
          perpus.id_penulis = result.data.data.id_penulis;
          perpus.id_penerbit = result.data.data.id_penerbit;
          perpus.tahun_terbit = result.data.data.tahun_terbit;
        })
        .catch((err) => {
          console.log(err.response.data);
        });
    });

    function update() {
      axios
        .put(`http://127.0.0.1:8000/api/update_buku/${route.params.id}`, perpus)
        .then(() => {
          router.push({
            name: "perpus.indexBuku",
          });
        })
        .catch((err) => {
          validation.value = err.response.data;
        });
    }
    return {
      perpus,
      validation,
      router,
      update,
    };
  },
};
</script>

<style>
</style>