<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <!-- <a href="/create" class="btn btn-primary btn-sm rounded shadow mb-3">
          Add
        </a> -->
        <router-link
          :to="{ name: 'perpus.create' }"
          class="btn btn-primary btn-sm rounded shadow mb-3"
          >create</router-link
        >

        <div class="card rounded shadow">
          <div class="card-header">list mahasiswa</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>no</th>
                  <th>nim</th>
                  <th>nama</th>
                  <th>no telp</th>
                  <th>email</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(perpus, index) in perpus" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ perpus.nim }}</td>
                  <td>{{ perpus.nama }}</td>
                  <td>{{ perpus.no_telp }}</td>
                  <td>{{ perpus.email }}</td>
                  <td>
                    <div class="btn-group">
                      <router-link
                        :to="{ name: 'perpus.edit', params: { id: perpus.id } }"
                        class="btn btn-sm btn-outline-info"
                        >edit</router-link
                      >
                      &emsp;
                      <button
                        class="btn btn-sm btn-outline-danger"
                        @click.prevent="destroy(perpus.id, index)"
                      >
                        delete
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import { onMounted, ref } from "vue";
export default {
  setup() {
    let perpus = ref([]);
    onMounted(() => {
      axios
        .get("http://127.0.0.1:8000/api/data_mahasiswa")
        .then((result) => {
          perpus.value = result.data;
        })
        .catch((err) => {
          console.log(err.response);
        });
    });

    function destroy(id, index) {
      axios
        .delete(`http://127.0.0.1:8000/api/delete_mahasiswa/${id}`)
        .then(() => {
          perpus.value.splice(index, 1);
        })
        .catch((err) => {
          console.log(err.response.data);
        });
    }

    return {
      perpus,
      destroy,
    };
  },
};
</script>

<style>
</style>